html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 4px;
}
.v-list {
  height: calc(100vh - 50px);
}
.play_icon {
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  transition: 300ms ease-in-out transform;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 0.8rem solid transparent;
  border-bottom: 0.8rem solid transparent;
  border-left: 19px solid white;
  position: absolute;
  top: 8px;
  left: 15px;
  border-radius: 4px;
}
.movie-card {
  width: 290px;
  min-height: 300px;
  transition: 300ms ease-in-out transform;
}
.movie-card:hover {
  transform: scale(1.05);
}
.movie-card:hover .play_icon {
  transform: scale(1.1);
}
.release-date-icon {
  top: 22px;
  right: 40px;
}

.dummy-div.active {
  height: 540px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
  overflow: hidden;
}
.poster-image {
  /* Add the blur effect */
  filter: blur(20px);
  -webkit-filter: blur(20px);
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.5);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
